@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur {
    backdrop-filter: blur(100px); /* Ajusta el valor de desenfoque según tus preferencias */
  }
  
  /* ToastComponent.css */

/* Estilo personalizado para el Toast */
.custom-toast .p-toast-message {
  background: rgb(5, 0, 0) !important; /* Fondo semi-transparente negro */
  backdrop-filter: blur(10px)!important; /* Efecto de desenfoque para navegadores que soportan esta propiedad */
  -webkit-backdrop-filter: blur(10px)!important; /* Efecto de desenfoque para Safari */
  border: none !important; /* Eliminar el borde si es necesario */
  color: white; /* Color del texto */
}

.custom-toast .p-toast-message .p-toast-icon {
  color: white; /* Color de los íconos si es necesario */
}
